
  <!-- <div style="margin-bottom: 2em;">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-color">
          <a class="navbar-brand" routerLink="/">{{app_name}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNavbar">
          
        </div>
      </nav>
  
</div> -->


<!-- <nav  class="sidebar-nav ">
  <ul>
      <li class="sidebar-item" [class.selected]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems"
      [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
      <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true"><i [ngClass]="[sidebarnavItem.icon]"></i><span class="hide-menu">{{sidebarnavItem.title}}</span></div>
      <a class="sidebar-link waves-effect waves-dark" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
          [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)"
          [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
          <i [ngClass]="[sidebarnavItem.icon]"></i>
          <span class="hide-menu">{{sidebarnavItem.title}}</span>
      </a>
    </li>
    <li class="sidebar-item">
      <div class="nav-small-cap">
        <a href="" class="sidebar-link">hola mundo</a>
      </div>
    </li>
  </ul>

</nav> -->

<div class="d-flex " id="wrapper " >

    <!-- Sidebar -->
    <div class="navbar-color border-right navbar-color toggled" id="sidebar-wrapper">
      <div class="sidebar-heading">{{title}}</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action navbar-color" routeLink="/home">Home</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light navbar-color border-bottom">
        <button class="btn btn-primary" id="menu-toggle" (click)="showNavbar()">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        </div>
      </nav>

      <div class="container-fluid">
          <router-outlet  ></router-outlet>
    </div>
    

  </div>

